In [5]:
from sklearn import preprocessing 
from sklearn.model_selection import GridSearchCV 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.options.mode.chained_assignment = None

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [31]:
data = train.append(test)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [32]:
data.reset_index(inplace=True, drop=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [35]:
data['Family_Size'] = data['Parch'] + data['SibSp']
data['Family_Size']

0       1
1       1
2       0
3       1
4       0
5       0
6       0
7       4
8       2
9       1
10      2
11      0
12      0
13      6
14      0
15      0
16      5
17      0
18      1
19      0
20      0
21      0
22      0
23      0
24      4
25      6
26      0
27      5
28      0
29      0
       ..
1279    0
1280    4
1281    0
1282    1
1283    2
1284    0
1285    4
1286    1
1287    0
1288    2
1289    0
1290    0
1291    0
1292    1
1293    1
1294    0
1295    1
1296    0
1297    1
1298    2
1299    0
1300    2
1301    0
1302    1
1303    0
1304    0
1305    0
1306    0
1307    0
1308    2
Name: Family_Size, Length: 1309, dtype: int64

In [36]:
data['Title1'] = data['Name'].str.split(", ", expand=True)[1]
data['Title1'] = data['Title1'].str.split(".", expand=True)[0]
data['Title2'] = data['Title1'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','the Countess','Jonkheer','Col','Rev','Capt','Sir','Don','Dona'],
         ['Miss','Mrs','Miss','Mr','Mr','Mrs','Mrs','Mr','Mr','Mr','Mr','Mr','Mr','Mrs'])
data['Title2']

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
5           Mr
6           Mr
7       Master
8          Mrs
9          Mrs
10        Miss
11        Miss
12          Mr
13          Mr
14        Miss
15         Mrs
16      Master
17          Mr
18         Mrs
19         Mrs
20          Mr
21          Mr
22        Miss
23          Mr
24        Miss
25         Mrs
26          Mr
27          Mr
28        Miss
29          Mr
         ...
1279        Mr
1280    Master
1281        Mr
1282       Mrs
1283    Master
1284        Mr
1285        Mr
1286       Mrs
1287        Mr
1288       Mrs
1289        Mr
1290        Mr
1291      Miss
1292        Mr
1293      Miss
1294        Mr
1295        Mr
1296        Mr
1297        Mr
1298        Mr
1299      Miss
1300      Miss
1301      Miss
1302       Mrs
1303      Miss
1304        Mr
1305       Mrs
1306        Mr
1307        Mr
1308    Master
Name: Title2, Length: 1309, dtype: object

In [12]:
data['Ticket']

0                A/5 21171
1                 PC 17599
2         STON/O2. 3101282
3                   113803
4                   373450
5                   330877
6                    17463
7                   349909
8                   347742
9                   237736
10                 PP 9549
11                  113783
12               A/5. 2151
13                  347082
14                  350406
15                  248706
16                  382652
17                  244373
18                  345763
19                    2649
20                  239865
21                  248698
22                  330923
23                  113788
24                  349909
25                  347077
26                    2631
27                   19950
28                  330959
29                  349216
               ...
1279                364858
1280                349909
1281                 12749
1282              PC 17592
1283             C.A. 2673
1284            C.A. 30769
1285                315153
1286                 13695
1287                371109
1288                 13567
1289                347065
1290                 21332
1291                 36928
1292                 28664
1293                112378
1294                113059
1295                 17765
1296         SC/PARIS 2166
1297                 28666
1298                113503
1299                334915
1300    SOTON/O.Q. 3101315
1301                365237
1302                 19928
1303                347086
1304             A.5. 3236
1305              PC 17758
1306    SOTON/O.Q. 3101262
1307                359309
1308                  2668
Name: Ticket, Length: 1309, dtype: object

In [13]:
data['Ticket_info'] = data['Ticket'].apply(lambda x : x.replace(".","").replace("/","").strip().split(' ')[0] if not x.isdigit() else 'X')

In [14]:
data['Ticket_info'].unique()

array(['A5', 'PC', 'STONO2', 'X', 'PP', 'CA', 'SCParis', 'SCA4', 'A4',
       'SP', 'SOC', 'WC', 'SOTONOQ', 'WEP', 'STONO', 'C', 'SCPARIS', 'SOP',
       'Fa', 'LINE', 'FCC', 'SWPP', 'SCOW', 'PPP', 'SC', 'SCAH', 'AS',
       'SOPP', 'FC', 'SOTONO2', 'CASOTON', 'SCA3', 'STONOQ', 'AQ4', 'A',
       'LP', 'AQ3'], dtype=object)

In [15]:
data['Embarked'] = data['Embarked'].fillna('S')
data['Fare'] = data['Fare'].fillna(data['Fare'].mean())

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 16 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
Family_Size    1309 non-null int64
Title1         1309 non-null object
Title2         1309 non-null object
Ticket_info    1309 non-null object
dtypes: float64(3), int64(5), object(8)
memory usage: 163.7+ KB

In [17]:
data.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Family_Size
count,1046.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000,1309.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838,0.883881
std,14.413493,51.738879,0.865560,378.020061,0.837836,1.041658,0.486592,1.583639
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000,10.000000

In [18]:
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Title1,Title2,Ticket_info
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,1,Mr,Mr,A5
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1,Mrs,Mrs,PC
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0,Miss,Miss,STONO2
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,1,Mrs,Mrs,X
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0,Mr,Mr,X
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,0,Mr,Mr,X
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,0,Mr,Mr,X
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,4,Master,Master,X
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,2,Mrs,Mrs,X
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,1,Mrs,Mrs,X
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,2,Miss,Miss,PP
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,0,Miss,Miss,X
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,0,Mr,Mr,A5
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,6,Mr,Mr,X
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,0,Miss,Miss,X
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,0,Mrs,Mrs,X
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,5,Master,Master,X
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,0,Mr,Mr,X
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,1,Mrs,Mrs,X
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,0,Mrs,Mrs,X
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,0,Mr,Mr,X
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,0,Mr,Mr,X
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,0,Miss,Miss,X
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,0,Mr,Mr,X
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,4,Miss,Miss,X
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,6,Mrs,Mrs,X
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,0,Mr,Mr,X
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,5,Mr,Mr,X
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,0,Miss,Miss,X
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,0,Mr,Mr,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,0,Mr,Mr,X
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,4,Master,Master,X
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,0,Mr,Mr,X
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,1,Mrs,Mrs,PC
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,2,Master,Master,CA
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,0,Mr,Mr,CA
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,4,Mr,Mr,X
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,1,Mrs,Mrs,X
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,0,Mr,Mr,X
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,2,Mrs,Mrs,X
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,0,Mr,Mr,X
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,0,Mr,Mr,X
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,0,Miss,Miss,X
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,1,Mr,Mr,X
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,1,Miss,Miss,X
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,0,Mr,Mr,X
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,1,Mr,Mr,X
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,0,Mr,Mr,SCPARIS
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,1,Mr,Mr,X
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,2,Mr,Mr,X
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,0,Miss,Miss,X
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,2,Miss,Miss,SOTONOQ
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,0,Miss,Miss,X
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,1,Mrs,Mrs,X
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,0,Miss,Miss,X
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,0,Mr,Mr,A5
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,0,Dona,Mrs,PC
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,0,Mr,Mr,SOTONOQ
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,0,Mr,Mr,X
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,2,Master,Master,X

In [19]:
data["Cabin"] = data['Cabin'].apply(lambda x : str(x)[0] if not pd.isnull(x) else 'NoCabin')

In [20]:
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Title1,Title2,Ticket_info
0,22.0,NoCabin,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,1,Mr,Mr,A5
1,38.0,C,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1,Mrs,Mrs,PC
2,26.0,NoCabin,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0,Miss,Miss,STONO2
3,35.0,C,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,1,Mrs,Mrs,X
4,35.0,NoCabin,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0,Mr,Mr,X
5,NaN,NoCabin,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,0,Mr,Mr,X
6,54.0,E,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,0,Mr,Mr,X
7,2.0,NoCabin,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,4,Master,Master,X
8,27.0,NoCabin,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,2,Mrs,Mrs,X
9,14.0,NoCabin,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,1,Mrs,Mrs,X
10,4.0,G,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,2,Miss,Miss,PP
11,58.0,C,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,0,Miss,Miss,X
12,20.0,NoCabin,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,0,Mr,Mr,A5
13,39.0,NoCabin,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,6,Mr,Mr,X
14,14.0,NoCabin,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,0,Miss,Miss,X
15,55.0,NoCabin,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,0,Mrs,Mrs,X
16,2.0,NoCabin,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,5,Master,Master,X
17,NaN,NoCabin,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,0,Mr,Mr,X
18,31.0,NoCabin,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,1,Mrs,Mrs,X
19,NaN,NoCabin,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,0,Mrs,Mrs,X
20,35.0,NoCabin,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,0,Mr,Mr,X
21,34.0,D,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,0,Mr,Mr,X
22,15.0,NoCabin,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,0,Miss,Miss,X
23,28.0,A,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,0,Mr,Mr,X
24,8.0,NoCabin,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,4,Miss,Miss,X
25,38.0,NoCabin,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,6,Mrs,Mrs,X
26,NaN,NoCabin,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,0,Mr,Mr,X
27,19.0,C,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,5,Mr,Mr,X
28,NaN,NoCabin,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,0,Miss,Miss,X
29,NaN,NoCabin,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,0,Mr,Mr,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NoCabin,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,0,Mr,Mr,X
1280,6.0,NoCabin,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,4,Master,Master,X
1281,23.0,B,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,0,Mr,Mr,X
1282,51.0,D,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,1,Mrs,Mrs,PC
1283,13.0,NoCabin,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,2,Master,Master,CA
1284,47.0,NoCabin,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,0,Mr,Mr,CA
1285,29.0,NoCabin,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,4,Mr,Mr,X
1286,18.0,C,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,1,Mrs,Mrs,X
1287,24.0,NoCabin,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,0,Mr,Mr,X
1288,48.0,B,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,2,Mrs,Mrs,X
1289,22.0,NoCabin,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,0,Mr,Mr,X
1290,31.0,NoCabin,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,0,Mr,Mr,X
1291,30.0,C,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,0,Miss,Miss,X
1292,38.0,NoCabin,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,1,Mr,Mr,X
1293,22.0,NoCabin,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,1,Miss,Miss,X
1294,17.0,NoCabin,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,0,Mr,Mr,X
1295,43.0,D,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,1,Mr,Mr,X
1296,20.0,D,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,0,Mr,Mr,SCPARIS
1297,23.0,NoCabin,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,1,Mr,Mr,X
1298,50.0,C,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,2,Mr,Mr,X
1299,NaN,NoCabin,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,0,Miss,Miss,X
1300,3.0,NoCabin,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,2,Miss,Miss,SOTONOQ
1301,NaN,NoCabin,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,0,Miss,Miss,X
1302,37.0,C,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,1,Mrs,Mrs,X
1303,28.0,NoCabin,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,0,Miss,Miss,X
1304,NaN,NoCabin,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,0,Mr,Mr,A5
1305,39.0,C,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,0,Dona,Mrs,PC
1306,38.5,NoCabin,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,0,Mr,Mr,SOTONOQ
1307,NaN,NoCabin,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,0,Mr,Mr,X
1308,NaN,NoCabin,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,2,Master,Master,X

In [21]:
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['Pclass'] = data['Pclass'].astype('category').cat.codes
data['Title1'] = data['Title1'].astype('category').cat.codes
data['Title2'] = data['Title2'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
data['Ticket_info'] = data['Ticket_info'].astype('category').cat.codes

In [22]:
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Title1,Title2,Ticket_info
0,22.0,7,2,7.2500,"Braund, Mr. Owen Harris",0,1,2,1,1,0.0,A/5 21171,1,12,2,2
1,38.0,2,0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,0,0,1,1.0,PC 17599,1,13,3,14
2,26.0,7,2,7.9250,"Heikkinen, Miss. Laina",0,3,2,0,0,1.0,STON/O2. 3101282,0,9,1,31
3,35.0,2,2,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,0,0,1,1.0,113803,1,13,3,36
4,35.0,7,2,8.0500,"Allen, Mr. William Henry",0,5,2,1,0,0.0,373450,0,12,2,36
5,NaN,7,1,8.4583,"Moran, Mr. James",0,6,2,1,0,0.0,330877,0,12,2,36
6,54.0,4,2,51.8625,"McCarthy, Mr. Timothy J",0,7,0,1,0,0.0,17463,0,12,2,36
7,2.0,7,2,21.0750,"Palsson, Master. Gosta Leonard",1,8,2,1,3,0.0,349909,4,8,0,36
8,27.0,7,2,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,2,0,0,1.0,347742,2,13,3,36
9,14.0,7,0,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,1,0,1,1.0,237736,1,13,3,36
10,4.0,6,2,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,2,0,1,1.0,PP 9549,2,9,1,15
11,58.0,2,2,26.5500,"Bonnell, Miss. Elizabeth",0,12,0,0,0,1.0,113783,0,9,1,36
12,20.0,7,2,8.0500,"Saundercock, Mr. William Henry",0,13,2,1,0,0.0,A/5. 2151,0,12,2,2
13,39.0,7,2,31.2750,"Andersson, Mr. Anders Johan",5,14,2,1,1,0.0,347082,6,12,2,36
14,14.0,7,2,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,2,0,0,0.0,350406,0,9,1,36
15,55.0,7,2,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,1,0,0,1.0,248706,0,13,3,36
16,2.0,7,1,29.1250,"Rice, Master. Eugene",1,17,2,1,4,0.0,382652,5,8,0,36
17,NaN,7,2,13.0000,"Williams, Mr. Charles Eugene",0,18,1,1,0,1.0,244373,0,12,2,36
18,31.0,7,2,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,2,0,1,0.0,345763,1,13,3,36
19,NaN,7,0,7.2250,"Masselmani, Mrs. Fatima",0,20,2,0,0,1.0,2649,0,13,3,36
20,35.0,7,2,26.0000,"Fynney, Mr. Joseph J",0,21,1,1,0,0.0,239865,0,12,2,36
21,34.0,3,2,13.0000,"Beesley, Mr. Lawrence",0,22,1,1,0,1.0,248698,0,12,2,36
22,15.0,7,1,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,2,0,0,1.0,330923,0,9,1,36
23,28.0,0,2,35.5000,"Sloper, Mr. William Thompson",0,24,0,1,0,1.0,113788,0,12,2,36
24,8.0,7,2,21.0750,"Palsson, Miss. Torborg Danira",1,25,2,0,3,0.0,349909,4,9,1,36
25,38.0,7,2,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,2,0,1,1.0,347077,6,13,3,36
26,NaN,7,0,7.2250,"Emir, Mr. Farred Chehab",0,27,2,1,0,0.0,2631,0,12,2,36
27,19.0,2,2,263.0000,"Fortune, Mr. Charles Alexander",2,28,0,1,3,0.0,19950,5,12,2,36
28,NaN,7,1,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,2,0,0,1.0,330959,0,9,1,36
29,NaN,7,2,7.8958,"Todoroff, Mr. Lalio",0,30,2,1,0,0.0,349216,0,12,2,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,7,1,7.7500,"Canavan, Mr. Patrick",0,1280,2,1,0,NaN,364858,0,12,2,36
1280,6.0,7,2,21.0750,"Palsson, Master. Paul Folke",1,1281,2,1,3,NaN,349909,4,8,0,36
1281,23.0,1,2,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,0,1,0,NaN,12749,0,12,2,36
1282,51.0,3,2,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,0,0,0,NaN,PC 17592,1,13,3,14
1283,13.0,7,2,20.2500,"Abbott, Master. Eugene Joseph",2,1284,2,1,0,NaN,C.A. 2673,2,8,0,7
1284,47.0,7,2,10.5000,"Gilbert, Mr. William",0,1285,1,1,0,NaN,C.A. 30769,0,12,2,7
1285,29.0,7,2,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,2,1,3,NaN,315153,4,12,2,36
1286,18.0,2,2,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,0,0,1,NaN,13695,1,13,3,36
1287,24.0,7,1,7.2500,"Colbert, Mr. Patrick",0,1288,2,1,0,NaN,371109,0,12,2,36
1288,48.0,1,0,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,0,0,1,NaN,13567,2,13,3,36
1289,22.0,7,2,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,2,1,0,NaN,347065,0,12,2,36
1290,31.0,7,1,7.7333,"Conlon, Mr. Thomas Henry",0,1291,2,1,0,NaN,21332,0,12,2,36
1291,30.0,2,2,164.8667,"Bonnell, Miss. Caroline",0,1292,0,0,0,NaN,36928,0,9,1,36
1292,38.0,7,2,21.0000,"Gale, Mr. Harry",0,1293,1,1,1,NaN,28664,1,12,2,36
1293,22.0,7,0,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,0,0,0,NaN,112378,1,9,1,36
1294,17.0,7,2,47.1000,"Carrau, Mr. Jose Pedro",0,1295,0,1,0,NaN,113059,0,12,2,36
1295,43.0,3,0,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,0,1,1,NaN,17765,1,12,2,36
1296,20.0,3,0,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,1,1,0,NaN,SC/PARIS 2166,0,12,2,22
1297,23.0,7,2,10.5000,"Ware, Mr. William Jeffery",0,1298,1,1,1,NaN,28666,1,12,2,36
1298,50.0,2,0,211.5000,"Widener, Mr. George Dunton",1,1299,0,1,1,NaN,113503,2,12,2,36
1299,NaN,7,1,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,2,0,0,NaN,334915,0,9,1,36
1300,3.0,7,2,13.7750,"Peacock, Miss. Treasteall",1,1301,2,0,1,NaN,SOTON/O.Q. 3101315,2,9,1,28
1301,NaN,7,1,7.7500,"Naughton, Miss. Hannah",0,1302,2,0,0,NaN,365237,0,9,1,36
1302,37.0,2,1,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,0,0,1,NaN,19928,1,13,3,36
1303,28.0,7,2,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,2,0,0,NaN,347086,0,9,1,36
1304,NaN,7,2,8.0500,"Spector, Mr. Woolf",0,1305,2,1,0,NaN,A.5. 3236,0,12,2,2
1305,39.0,2,0,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,0,0,0,NaN,PC 17758,0,3,3,14
1306,38.5,7,2,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,2,1,0,NaN,SOTON/O.Q. 3101262,0,12,2,28
1307,NaN,7,2,8.0500,"Ware, Mr. Frederick",0,1308,2,1,0,NaN,359309,0,12,2,36
1308,NaN,7,0,22.3583,"Peter, Master. Michael J",1,1309,2,1,1,NaN,2668,2,8,0,36

In [23]:
dataAgeNull = data[data["Age"].isnull()]
dataAgeNotNull = data[data["Age"].notnull()]
remove_outlier = dataAgeNotNull[(np.abs(dataAgeNotNull["Fare"]-dataAgeNotNull["Fare"].mean())>(4*dataAgeNotNull["Fare"].std()))|
                      (np.abs(dataAgeNotNull["Family_Size"]-dataAgeNotNull["Family_Size"].mean())>(4*dataAgeNotNull["Family_Size"].std()))                     
                     ]
rfModel_age = RandomForestRegressor(n_estimators=2000,random_state=42)
ageColumns = ['Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title1', 'Title2','Cabin','Ticket_info']
rfModel_age.fit(remove_outlier[ageColumns], remove_outlier["Age"])

ageNullValues = rfModel_age.predict(X= dataAgeNull[ageColumns])
dataAgeNull.loc[:,"Age"] = ageNullValues
data = dataAgeNull.append(dataAgeNotNull)
data.reset_index(inplace=True, drop=True)

In [24]:
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Title1,Title2,Ticket_info
0,41.326267,7,1,8.4583,"Moran, Mr. James",0,6,2,1,0,0.0,330877,0,12,2,36
1,41.616486,7,2,13.0000,"Williams, Mr. Charles Eugene",0,18,1,1,0,1.0,244373,0,12,2,36
2,46.792625,7,0,7.2250,"Masselmani, Mrs. Fatima",0,20,2,0,0,1.0,2649,0,13,3,36
3,41.326267,7,0,7.2250,"Emir, Mr. Farred Chehab",0,27,2,1,0,0.0,2631,0,12,2,36
4,34.860886,7,1,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,2,0,0,1.0,330959,0,9,1,36
5,39.428653,7,2,7.8958,"Todoroff, Mr. Lalio",0,30,2,1,0,0.0,349216,0,12,2,36
6,49.286267,1,0,146.5208,"Spencer, Mrs. William Augustus (Marie Eugenie)",0,32,0,0,1,1.0,PC 17569,1,13,3,14
7,34.860886,7,1,7.7500,"Glynn, Miss. Mary Agatha",0,33,2,0,0,1.0,335677,0,9,1,36
8,41.326267,7,0,7.2292,"Mamee, Mr. Hanna",0,37,2,1,0,1.0,2677,0,12,2,36
9,41.326267,7,0,7.8958,"Kraeff, Mr. Theodor",0,43,2,1,0,0.0,349253,0,12,2,36
10,36.905825,7,2,8.0500,"Rogers, Mr. William John",0,46,2,1,0,0.0,S.C./A.4. 23567,0,12,2,19
11,42.618767,7,1,15.5000,"Lennon, Mr. Denis",0,47,2,1,1,0.0,370371,1,12,2,36
12,34.860886,7,1,7.7500,"O'Driscoll, Miss. Bridget",0,48,2,0,0,1.0,14311,0,9,1,36
13,42.618767,7,0,21.6792,"Samaan, Mr. Youssef",0,49,2,1,2,0.0,2662,2,12,2,36
14,42.085803,2,2,35.5000,"Woolner, Mr. Hugh",0,56,0,1,0,1.0,19947,0,12,2,36
15,41.281708,7,0,27.7208,"Stewart, Mr. Albert A",0,65,0,1,0,0.0,PC 17605,0,12,2,14
16,26.750358,7,0,15.2458,"Moubarek, Master. Gerios",1,66,2,1,1,1.0,2661,2,8,0,36
17,39.428653,7,2,7.8958,"Staneff, Mr. Ivan",0,77,2,1,0,0.0,349208,0,12,2,36
18,39.428653,7,2,8.0500,"Moutal, Mr. Rahamin Haim",0,78,2,1,0,0.0,374746,0,12,2,36
19,34.860886,7,1,7.7875,"McDermott, Miss. Brigdet Delia",0,83,2,0,0,1.0,330932,0,9,1,36
20,39.428653,7,2,8.0500,"Slocovski, Mr. Selman Francis",0,88,2,1,0,0.0,SOTON/OQ 392086,0,12,2,28
21,39.428653,7,2,8.0500,"Shorney, Mr. Charles Joseph",0,96,2,1,0,0.0,374910,0,12,2,36
22,39.428653,7,2,7.8958,"Petroff, Mr. Pastcho (""Pentcho"")",0,102,2,1,0,0.0,349215,0,12,2,36
23,39.428653,7,2,7.7750,"Moss, Mr. Albert Johan",0,108,2,1,0,1.0,312991,0,12,2,36
24,34.927386,7,1,24.1500,"Moran, Miss. Bertha",0,110,2,0,1,1.0,371110,1,9,1,36
25,34.382350,7,2,8.0500,"Moore, Mr. Leonard Charles",0,122,2,1,0,0.0,A4. 54510,0,12,2,1
26,41.326267,7,1,7.7500,"McMahon, Mr. Martin",0,127,2,1,0,0.0,370372,0,12,2,36
27,34.927386,5,0,22.3583,"Peter, Miss. Anna",1,129,2,0,1,1.0,2668,2,9,1,36
28,48.067375,7,0,15.2458,"Boulos, Mrs. Joseph (Sultana)",2,141,2,0,0,0.0,2678,2,13,3,36
29,36.905825,7,2,7.3125,"Olsen, Mr. Ole Martin",0,155,2,1,0,0.0,Fa 265302,0,12,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,26.000000,7,1,7.8792,"Foley, Mr. Joseph",0,1273,2,1,0,NaN,330910,0,12,2,36
1280,19.000000,7,2,16.1000,"McNamee, Mrs. Neal (Eileen O'Leary)",0,1275,2,0,1,NaN,376566,1,13,3,36
1281,24.000000,7,2,65.0000,"Herman, Miss. Kate",2,1277,1,0,1,NaN,220845,3,9,1,36
1282,24.000000,7,2,7.7750,"Aronsson, Mr. Ernst Axel Algot",0,1278,2,1,0,NaN,349911,0,12,2,36
1283,57.000000,7,2,13.0000,"Ashby, Mr. John",0,1279,1,1,0,NaN,244346,0,12,2,36
1284,21.000000,7,1,7.7500,"Canavan, Mr. Patrick",0,1280,2,1,0,NaN,364858,0,12,2,36
1285,6.000000,7,2,21.0750,"Palsson, Master. Paul Folke",1,1281,2,1,3,NaN,349909,4,8,0,36
1286,23.000000,1,2,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,0,1,0,NaN,12749,0,12,2,36
1287,51.000000,3,2,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,0,0,0,NaN,PC 17592,1,13,3,14
1288,13.000000,7,2,20.2500,"Abbott, Master. Eugene Joseph",2,1284,2,1,0,NaN,C.A. 2673,2,8,0,7
1289,47.000000,7,2,10.5000,"Gilbert, Mr. William",0,1285,1,1,0,NaN,C.A. 30769,0,12,2,7
1290,29.000000,7,2,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,2,1,3,NaN,315153,4,12,2,36
1291,18.000000,2,2,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,0,0,1,NaN,13695,1,13,3,36
1292,24.000000,7,1,7.2500,"Colbert, Mr. Patrick",0,1288,2,1,0,NaN,371109,0,12,2,36
1293,48.000000,1,0,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,0,0,1,NaN,13567,2,13,3,36
1294,22.000000,7,2,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,2,1,0,NaN,347065,0,12,2,36
1295,31.000000,7,1,7.7333,"Conlon, Mr. Thomas Henry",0,1291,2,1,0,NaN,21332,0,12,2,36
1296,30.000000,2,2,164.8667,"Bonnell, Miss. Caroline",0,1292,0,0,0,NaN,36928,0,9,1,36
1297,38.000000,7,2,21.0000,"Gale, Mr. Harry",0,1293,1,1,1,NaN,28664,1,12,2,36
1298,22.000000,7,0,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,0,0,0,NaN,112378,1,9,1,36
1299,17.000000,7,2,47.1000,"Carrau, Mr. Jose Pedro",0,1295,0,1,0,NaN,113059,0,12,2,36
1300,43.000000,3,0,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,0,1,1,NaN,17765,1,12,2,36
1301,20.000000,3,0,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,1,1,0,NaN,SC/PARIS 2166,0,12,2,22
1302,23.000000,7,2,10.5000,"Ware, Mr. William Jeffery",0,1298,1,1,1,NaN,28666,1,12,2,36
1303,50.000000,2,0,211.5000,"Widener, Mr. George Dunton",1,1299,0,1,1,NaN,113503,2,12,2,36
1304,3.000000,7,2,13.7750,"Peacock, Miss. Treasteall",1,1301,2,0,1,NaN,SOTON/O.Q. 3101315,2,9,1,28
1305,37.000000,2,1,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,0,0,1,NaN,19928,1,13,3,36
1306,28.000000,7,2,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,2,0,0,NaN,347086,0,9,1,36
1307,39.000000,2,0,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,0,0,0,NaN,PC 17758,0,3,3,14
1308,38.500000,7,2,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,2,1,0,NaN,SOTON/O.Q. 3101262,0,12,2,28

In [25]:
dataTrain = data[pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])
dataTest = data[~pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])

In [26]:
dataTrain = dataTrain[['Survived', 'Age', 'Embarked', 'Fare',  'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]
dataTest = dataTest[['Age', 'Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]

In [27]:
from sklearn.ensemble import RandomForestClassifier
 
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=2000,
                             min_samples_split=35,
                             min_samples_leaf=2,
                             oob_score=True,
                            max_depth = 9,
                             random_state=1,
                             n_jobs=-1) 

rf.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])
print("%.4f" % rf.oob_score_)

0.8260

In [ ]:
pd.concat((pd.DataFrame(dataTrain.iloc[:, 1:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

In [30]:
param_test1= {'n_estimators':range(500,1001,100)}  
gsearch1= GridSearchCV(estimator = RandomForestClassifier(min_samples_split=50,  
                                 min_samples_leaf=2,max_features='sqrt' ,random_state=1),  
                       param_grid =param_test1, scoring='roc_auc',cv=5)  
gsearch1.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])  
gsearch1.grid_scores_,gsearch1.best_params_, gsearch1.best_score_

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

([mean: 0.87747, std: 0.02771, params: {'n_estimators': 500},
  mean: 0.87726, std: 0.02783, params: {'n_estimators': 600},
  mean: 0.87726, std: 0.02812, params: {'n_estimators': 700},
  mean: 0.87679, std: 0.02847, params: {'n_estimators': 800},
  mean: 0.87700, std: 0.02883, params: {'n_estimators': 900},
  mean: 0.87711, std: 0.02855, params: {'n_estimators': 1000}],
 {'n_estimators': 500},
 0.87747336085491334)

In [ ]:
rf_res =  rf.predict(dataTest)
submit['Survived'] = rf_res
submit['Survived'] = submit['Survived'].astype(int)
submit.to_csv('submit.csv', index= False)

In [ ]:
param_test2= {'max_depth':range(3,14,2), 'min_samples_split':range(50,201,20)}  
gsearch2= GridSearchCV(estimator = RandomForestClassifier(n_estimators= 500,  
                                 min_samples_leaf=2,max_features='sqrt' ,oob_score=True,random_state=1),  
   param_grid = param_test2,scoring='roc_auc',iid=False, cv=5)  
gsearch2.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])  
gsearch2.grid_scores_,gsearch2.best_params_, gsearch2.best_score_

In [ ]:
param_test3= {'min_samples_split':range(50,150,20), 'min_samples_leaf':range(2,40,5)}  
gsearch3= GridSearchCV(estimator = RandomForestClassifier(n_estimators= 500,max_depth=9,  
                                 max_features='sqrt' ,oob_score=True, random_state=1),  
   param_grid = param_test3,scoring='roc_auc',iid=False, cv=5)  
gsearch3.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])  
gsearch3.grid_scores_,gsearch2.best_params_, gsearch2.best_score_

In [ ]:
param_test4= {'max_features':range(3,20,2)}  
gsearch4= GridSearchCV(estimator = RandomForestClassifier(n_estimators= 500,max_depth=9, min_samples_split=50,  
                                 min_samples_leaf=2 ,oob_score=True, random_state=1),  
   param_grid = param_test4,scoring='roc_auc',iid=False, cv=5)  
gsearch4.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])  
gsearch4.grid_scores_,gsearch4.best_params_, gsearch4.best_score_

In [ ]:
num_folds = 7
num_repeats = 5

# Use a stratified k-fold for generating train-test splits
skf = StratifiedKFold(n_splits=num_folds, shuffle=True)

# Use a random forest classifier as second-level estimator

acc_scores = []
f1_scores = []

for i in range(num_repeats):
    for train_idx, test_idx in skf.split(X_train, y_train):
        X_train_cv = X_train[train_idx]
        X_test_cv = X_train[test_idx]

        y_train_cv = y_train[train_idx]
        y_test_cv = y_train[test_idx]

        
        clf.fit(X_train_cv, y_train_cv)
        y_pred_cv = clf.predict(X_test_cv)

        acc_scores.append(accuracy_score(y_test_cv, y_pred_cv))
        f1_scores.append(f1_score(y_test_cv, y_pred_cv))
    
acc_scores_mean = np.mean(acc_scores)
acc_scores_std = np.std(acc_scores)

f1_scores_mean = np.mean(f1_scores)
f1_scores_std = np.std(f1_scores)

print(f'CV summary for {num_repeats} repeats on {skf.n_splits} splits:')
print(f'accuracy score: {acc_scores_mean:.3f} +/- {acc_scores_std:.3f}')
print(f'f1 score:       {f1_scores_mean:.3f} +/- {f1_scores_std:.3f}')