In [1]:
from sklearn import preprocessing 
from sklearn.model_selection import GridSearchCV 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.options.mode.chained_assignment = None

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

In [3]:
data = train.append(test)

In [4]:
data['Title1'] = data['Name'].str.split(", ", expand=True)[1]

In [5]:
data['Title1'] = data['Title1'].str.split(".", expand=True)[0]

In [6]:
data['Title2'] = data['Title1'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','the Countess','Jonkheer','Col','Rev','Capt','Sir','Don','Dona'],
         ['Miss','Mrs','Miss','Mr','Mr','Mrs','Mrs','Mr','Mr','Mr','Mr','Mr','Mr','Mrs'])

In [7]:
data['Ticket_info'] = data['Ticket'].apply(lambda x : x.replace(".","").replace("/","").strip().split(' ')[0] if not x.isdigit() else 'X')

In [8]:
data['Embarked'] = data['Embarked'].fillna('S')

In [9]:
data['Fare'] = data['Fare'].fillna(data['Fare'].mean())

In [11]:
data["Cabin"] = data['Cabin'].apply(lambda x : str(x)[0] if not pd.isnull(x) else 'NoCabin')

data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title1,Title2,Ticket_info
0,22.0,N,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,Mr,A5
1,38.0,C,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,Mrs,PC
2,26.0,N,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss,Miss,STONO2
3,35.0,C,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs,Mrs,X
4,35.0,N,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr,Mr,X
5,NaN,N,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,Mr,Mr,X
6,54.0,E,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,Mr,Mr,X
7,2.0,N,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,Master,Master,X
8,27.0,N,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,Mrs,Mrs,X
9,14.0,N,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,Mrs,Mrs,X
10,4.0,G,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,Miss,Miss,PP
11,58.0,C,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,Miss,Miss,X
12,20.0,N,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,Mr,Mr,A5
13,39.0,N,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,Mr,Mr,X
14,14.0,N,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,Miss,Miss,X
15,55.0,N,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,Mrs,Mrs,X
16,2.0,N,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,Master,Master,X
17,NaN,N,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,Mr,Mr,X
18,31.0,N,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,Mrs,Mrs,X
19,NaN,N,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,Mrs,Mrs,X
20,35.0,N,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,Mr,Mr,X
21,34.0,D,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,Mr,Mr,X
22,15.0,N,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,Miss,Miss,X
23,28.0,A,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,Mr,Mr,X
24,8.0,N,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,Miss,Miss,X
25,38.0,N,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,Mrs,Mrs,X
26,NaN,N,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,Mr,Mr,X
27,19.0,C,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,Mr,Mr,X
28,NaN,N,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,Miss,Miss,X
29,NaN,N,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,Mr,Mr,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,N,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,Mr,Mr,X
389,6.0,N,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,Master,Master,X
390,23.0,B,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,Mr,Mr,X
391,51.0,D,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,Mrs,Mrs,PC
392,13.0,N,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,Master,Master,CA
393,47.0,N,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,Mr,Mr,CA
394,29.0,N,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,Mr,Mr,X
395,18.0,C,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,Mrs,Mrs,X
396,24.0,N,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,Mr,Mr,X
397,48.0,B,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,Mrs,Mrs,X
398,22.0,N,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,Mr,Mr,X
399,31.0,N,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,Mr,Mr,X
400,30.0,C,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,Miss,Miss,X
401,38.0,N,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,Mr,Mr,X
402,22.0,N,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,Miss,Miss,X
403,17.0,N,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,Mr,Mr,X
404,43.0,D,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,Mr,Mr,X
405,20.0,D,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,Mr,Mr,SCPARIS
406,23.0,N,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,Mr,Mr,X
407,50.0,C,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,Mr,Mr,X
408,NaN,N,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,Miss,Miss,X
409,3.0,N,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,Miss,Miss,SOTONOQ
410,NaN,N,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,Miss,Miss,X
411,37.0,C,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,Mrs,Mrs,X
412,28.0,N,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,Miss,Miss,X
413,NaN,N,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,Mr,Mr,A5
414,39.0,C,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,Dona,Mrs,PC
415,38.5,N,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,Mr,Mr,SOTONOQ
416,NaN,N,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,Mr,Mr,X
417,NaN,N,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,Master,Master,X

In [12]:
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['Pclass'] = data['Pclass'].astype('category').cat.codes
data['Title1'] = data['Title1'].astype('category').cat.codes
data['Title2'] = data['Title2'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
data['Ticket_info'] = data['Ticket_info'].astype('category').cat.codes
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title1,Title2,Ticket_info
0,22.0,7,2,7.2500,"Braund, Mr. Owen Harris",0,1,2,1,1,0.0,A/5 21171,12,2,2
1,38.0,2,0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,0,0,1,1.0,PC 17599,13,3,14
2,26.0,7,2,7.9250,"Heikkinen, Miss. Laina",0,3,2,0,0,1.0,STON/O2. 3101282,9,1,31
3,35.0,2,2,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,0,0,1,1.0,113803,13,3,36
4,35.0,7,2,8.0500,"Allen, Mr. William Henry",0,5,2,1,0,0.0,373450,12,2,36
5,NaN,7,1,8.4583,"Moran, Mr. James",0,6,2,1,0,0.0,330877,12,2,36
6,54.0,4,2,51.8625,"McCarthy, Mr. Timothy J",0,7,0,1,0,0.0,17463,12,2,36
7,2.0,7,2,21.0750,"Palsson, Master. Gosta Leonard",1,8,2,1,3,0.0,349909,8,0,36
8,27.0,7,2,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,2,0,0,1.0,347742,13,3,36
9,14.0,7,0,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,1,0,1,1.0,237736,13,3,36
10,4.0,6,2,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,2,0,1,1.0,PP 9549,9,1,15
11,58.0,2,2,26.5500,"Bonnell, Miss. Elizabeth",0,12,0,0,0,1.0,113783,9,1,36
12,20.0,7,2,8.0500,"Saundercock, Mr. William Henry",0,13,2,1,0,0.0,A/5. 2151,12,2,2
13,39.0,7,2,31.2750,"Andersson, Mr. Anders Johan",5,14,2,1,1,0.0,347082,12,2,36
14,14.0,7,2,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,2,0,0,0.0,350406,9,1,36
15,55.0,7,2,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,1,0,0,1.0,248706,13,3,36
16,2.0,7,1,29.1250,"Rice, Master. Eugene",1,17,2,1,4,0.0,382652,8,0,36
17,NaN,7,2,13.0000,"Williams, Mr. Charles Eugene",0,18,1,1,0,1.0,244373,12,2,36
18,31.0,7,2,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,2,0,1,0.0,345763,13,3,36
19,NaN,7,0,7.2250,"Masselmani, Mrs. Fatima",0,20,2,0,0,1.0,2649,13,3,36
20,35.0,7,2,26.0000,"Fynney, Mr. Joseph J",0,21,1,1,0,0.0,239865,12,2,36
21,34.0,3,2,13.0000,"Beesley, Mr. Lawrence",0,22,1,1,0,1.0,248698,12,2,36
22,15.0,7,1,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,2,0,0,1.0,330923,9,1,36
23,28.0,0,2,35.5000,"Sloper, Mr. William Thompson",0,24,0,1,0,1.0,113788,12,2,36
24,8.0,7,2,21.0750,"Palsson, Miss. Torborg Danira",1,25,2,0,3,0.0,349909,9,1,36
25,38.0,7,2,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,2,0,1,1.0,347077,13,3,36
26,NaN,7,0,7.2250,"Emir, Mr. Farred Chehab",0,27,2,1,0,0.0,2631,12,2,36
27,19.0,2,2,263.0000,"Fortune, Mr. Charles Alexander",2,28,0,1,3,0.0,19950,12,2,36
28,NaN,7,1,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,2,0,0,1.0,330959,9,1,36
29,NaN,7,2,7.8958,"Todoroff, Mr. Lalio",0,30,2,1,0,0.0,349216,12,2,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,7,1,7.7500,"Canavan, Mr. Patrick",0,1280,2,1,0,NaN,364858,12,2,36
389,6.0,7,2,21.0750,"Palsson, Master. Paul Folke",1,1281,2,1,3,NaN,349909,8,0,36
390,23.0,1,2,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,0,1,0,NaN,12749,12,2,36
391,51.0,3,2,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,0,0,0,NaN,PC 17592,13,3,14
392,13.0,7,2,20.2500,"Abbott, Master. Eugene Joseph",2,1284,2,1,0,NaN,C.A. 2673,8,0,7
393,47.0,7,2,10.5000,"Gilbert, Mr. William",0,1285,1,1,0,NaN,C.A. 30769,12,2,7
394,29.0,7,2,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,2,1,3,NaN,315153,12,2,36
395,18.0,2,2,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,0,0,1,NaN,13695,13,3,36
396,24.0,7,1,7.2500,"Colbert, Mr. Patrick",0,1288,2,1,0,NaN,371109,12,2,36
397,48.0,1,0,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,0,0,1,NaN,13567,13,3,36
398,22.0,7,2,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,2,1,0,NaN,347065,12,2,36
399,31.0,7,1,7.7333,"Conlon, Mr. Thomas Henry",0,1291,2,1,0,NaN,21332,12,2,36
400,30.0,2,2,164.8667,"Bonnell, Miss. Caroline",0,1292,0,0,0,NaN,36928,9,1,36
401,38.0,7,2,21.0000,"Gale, Mr. Harry",0,1293,1,1,1,NaN,28664,12,2,36
402,22.0,7,0,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,0,0,0,NaN,112378,9,1,36
403,17.0,7,2,47.1000,"Carrau, Mr. Jose Pedro",0,1295,0,1,0,NaN,113059,12,2,36
404,43.0,3,0,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,0,1,1,NaN,17765,12,2,36
405,20.0,3,0,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,1,1,0,NaN,SC/PARIS 2166,12,2,22
406,23.0,7,2,10.5000,"Ware, Mr. William Jeffery",0,1298,1,1,1,NaN,28666,12,2,36
407,50.0,2,0,211.5000,"Widener, Mr. George Dunton",1,1299,0,1,1,NaN,113503,12,2,36
408,NaN,7,1,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,2,0,0,NaN,334915,9,1,36
409,3.0,7,2,13.7750,"Peacock, Miss. Treasteall",1,1301,2,0,1,NaN,SOTON/O.Q. 3101315,9,1,28
410,NaN,7,1,7.7500,"Naughton, Miss. Hannah",0,1302,2,0,0,NaN,365237,9,1,36
411,37.0,2,1,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,0,0,1,NaN,19928,13,3,36
412,28.0,7,2,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,2,0,0,NaN,347086,9,1,36
413,NaN,7,2,8.0500,"Spector, Mr. Woolf",0,1305,2,1,0,NaN,A.5. 3236,12,2,2
414,39.0,2,0,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,0,0,0,NaN,PC 17758,3,3,14
415,38.5,7,2,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,2,1,0,NaN,SOTON/O.Q. 3101262,12,2,28
416,NaN,7,2,8.0500,"Ware, Mr. Frederick",0,1308,2,1,0,NaN,359309,12,2,36
417,NaN,7,0,22.3583,"Peter, Master. Michael J",1,1309,2,1,1,NaN,2668,8,0,36

In [12]:
data['Family_Size'] = data['Parch'] + data['SibSp']

In [13]:
dataAgeNull = data[data["Age"].isnull()]
dataAgeNotNull = data[data["Age"].notnull()]
remove_outlier = dataAgeNotNull[(np.abs(dataAgeNotNull["Fare"]-dataAgeNotNull["Fare"].mean())>(4*dataAgeNotNull["Fare"].std()))|
                      (np.abs(dataAgeNotNull["Family_Size"]-dataAgeNotNull["Family_Size"].mean())>(4*dataAgeNotNull["Family_Size"].std()))                     
                     ]
rfModel_age = RandomForestRegressor(n_estimators=2000,random_state=42)
ageColumns = ['Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title1', 'Title2','Cabin','Ticket_info']
rfModel_age.fit(remove_outlier[ageColumns], remove_outlier["Age"])

ageNullValues = rfModel_age.predict(X= dataAgeNull[ageColumns])
dataAgeNull.loc[:,"Age"] = ageNullValues
data = dataAgeNull.append(dataAgeNotNull)
data.reset_index(inplace=True, drop=True)

In [14]:
dataTrain = data[pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])
dataTest = data[~pd.notnull(data['Survived'])].sort_values(by=["PassengerId"])

In [15]:
dataTrain = dataTrain[['Survived', 'Age', 'Embarked', 'Fare',  'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]
dataTest = dataTest[['Age', 'Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]

In [16]:
from scipy.optimize import minimize

def mix(x):
    n_methods = len(classifiers)
    y_mix = [np.multiply(x[i], y_[i]) for i in range(n_methods)]
    y_mix = np.sum(y_mix, axis=0)
    y_mix = np.array([round(y).astype(int) for y in y_mix])
    acc = accuracy_score(y_test, y_mix)
    return -acc

In [20]:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

classifiers = [
    KNeighborsClassifier(3),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis(),
    LogisticRegression()]

log_cols = ["Classifier", "Accuracy"]
log = pd.DataFrame(columns=log_cols)

sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)
X = train[0::, 1::]
y = train[0::, 0]
acc_dict = {}
x0 = [1 / len(classifiers)]*len(classifiers)


for train_index, test_index in sss.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    y_ = [] # array of predictions from the classifiers

    for clf in classifiers:
        name = clf.__class__.__name__
        clf.fit(X_train, y_train)
        train_predictions = clf.predict(X_test)
        acc = accuracy_score(y_test, train_predictions)
        y_.append(train_predictions) # prediction of current classifier appended
        if name in acc_dict:
            acc_dict[name] += acc
        else:
            acc_dict[name] = acc

    # Computing mixed model
    res = minimize(mix, x0, bounds=[(0, 1)] * len(classifiers))
    weights = res.x
    acc = -res.fun # best accuracy reached through mixing
    if 'mix' in acc_dict:
        acc_dict['mix'] += acc
    else:
        acc_dict['mix'] = acc

for clf in acc_dict:
    acc_dict[clf] = acc_dict[clf] / 10.0
    log_entry = pd.DataFrame([[clf, acc_dict[clf]]], columns=log_cols)
    log = log.append(log_entry)

plt.xlabel('Accuracy')
plt.title('Classifier Accuracy')

sns.set_color_codes("muted")
sns.barplot(x='Accuracy', y='Classifier', data=log, color="b")

plt.show()

TypeError: unhashable type: 'slice'